*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #fffafc;
  color: #3d2a2a;
}


header{
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;

  background: white;

  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo h2{
  color: #e75480;
}

.logo p{
  font-size: 13px;
}

nav{
  display: flex;
  gap: 30px;
}

nav a{
  text-decoration: none;
  color: #3d2a2a;
  font-weight: 500;
}

.pedido-btn{
  padding: 12px 22px;

  border: none;
  border-radius: 10px;

  background: #e75480;
  color: white;

  cursor: pointer;

  font-weight: 600;
}



.hero{
  height: 90vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;

  background: #ffe8ef;
}

.hero-text{
  width: 50%;
}

.hero-text h1{
  font-size: 70px;
  line-height: 1.1;

  margin-bottom: 25px;
}

.hero-text span{
  color: #e75480;
}

.hero-text p{
  font-size: 22px;

  margin-bottom: 35px;

  line-height: 1.6;
}

.hero-buttons{
  display: flex;
  gap: 20px;
}

.pink-btn{
  padding: 15px 30px;

  border: none;
  border-radius: 10px;

  background: #e75480;
  color: white;

  font-weight: 600;

  cursor: pointer;
}

.white-btn{
  padding: 15px 30px;

  border: 2px solid #e75480;
  border-radius: 10px;

  background: white;
  color: #e75480;

  font-weight: 600;

  cursor: pointer;
}

.hero-image img{
  width: 600px;
  border-radius: 25px;
}


.produtos{
  padding: 100px 8%;
}

.produtos h2{
  text-align: center;

  font-size: 45px;

  margin-bottom: 60px;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card{
  width: 280px;

  background: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.card img{
  width: 100%;
  height: 220px;

  object-fit: cover;
}

.card h3{
  padding: 20px 20px 10px;
}

.card p{
  padding: 0 20px;

  color: #666;

  margin-bottom: 15px;
}

.card span{
  display: block;

  padding: 0 20px;

  color: #e75480;

  font-weight: bold;

  margin-bottom: 20px;
}

.card button{
  width: calc(100% - 40px);

  margin: 0 20px 20px;

  padding: 14px;

  border: none;
  border-radius: 10px;

  background: #e75480;
  color: white;

  font-weight: 600;

  cursor: pointer;
}

.funciona{
  padding: 100px 8%;

  background: #fff1f5;

  text-align: center;
}

.funciona h2{
  font-size: 45px;

  margin-bottom: 60px;
}

.steps{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.step{
  width: 250px;

  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.step h3{
  width: 60px;
  height: 60px;

  margin: 0 auto 20px;

  border-radius: 50%;

  background: #e75480;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
}

.cta{
  height: 250px;

  background: linear-gradient(135deg, #ff7aa2, #e75480);

  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;
}

.cta h2{
  font-size: 45px;

  margin-bottom: 10px;
}

.cta p{
  font-size: 18px;
}

.cta button{
  padding: 18px 35px;

  border: none;
  border-radius: 12px;

  background: white;
  color: #e75480;

  font-weight: 700;

  cursor: pointer;
}


footer{
  background: #3d2a2a;

  color: white;

  text-align: center;

  padding: 50px;
}

footer h2{
  margin-bottom: 15px;
}

.copy{
  margin-top: 20px;

  color: #ddd;
}

